/* App theme */
:root,
html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #060606;
    --link-color: #1ed760;
    --background-container-color: #1ed760;
}

html[data-theme='dark'] {
    --background-color: #060606;
    --text-color: #F7F8F8;
    --link-color: #1ed760;
    --background-container-color: #1d1e22;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.container-theme {
    background-color: var(--background-container-color);
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}

/* Container styling */
#main-cont {
    display: flex;
    margin-top: 3vh;
    width: 100%;
    min-height: 60vh;
    max-height: auto;
    justify-content: space-evenly;
}

/* Songs container */
#songs-cont {
    min-width: 25%;
/*    min-height: 80vh;*/
    max-height: 84vh;
    overflow-y: scroll;
    position: relative;
    /* scrollbar-color: black var(--background-container-color); */
}

#songs-cont::-webkit-scrollbar {
    display: none;
}

/* #songs-cont:hover,
#songs-cont:active,
#songs-cont:focus {
  overflow-y: scroll;
} */

#heading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 5px; */
    padding: 8px 0 4px 0;
    background-color: var(--background-container-color);
    position: sticky;
    top: 0px;
}

#filter select {
    background-color: #060606;
    color: aliceblue;
    padding: 1px;
    border-radius: 4px;
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
    margin-top: 3px;
}

#all-songs {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
}

#all-songs button {
    /* background-color: #060606;
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2); */
    color: aliceblue;
    width: 70%;
    margin: 2%;
}

.navbar-brand:hover {
    color: #18a349;
}

/* Display conatiner */
#display-cont {
    min-width: 35%;
    min-height: 80vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.card {
    margin-top: 3%;
    background-color: #060606;
    color: aliceblue;
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
    min-width: 20rem;
    min-height: 20rem;
    max-width: 20rem;
    /* max-height: 20rem; */
}

.card-img-top {
    min-width: 100%;
    height: 45vh;
}

#audio-controls audio {
    margin-top: 3%;
}

#queue-controls {
    margin-top: 3%;
}

.btn-dark {
    background-color: #060606;
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
}

/* Playlist container */
#playlist-cont {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    max-height: auto;
}

#playlist-cont>div {
    margin-top: 2%;
}

#playlist-cont div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist-songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#playlist-songs div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#playlist-songs button.btn-size {
    margin: 1%;
    width: 60%;
}

#playlists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#playlists button {
    margin: 1%;
    width: 60%;
}

/*  */
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none;
}

.form-check-input:focus,
.form-check-input:active {
    outline: none !important;
    box-shadow: none;
}

/* Media queries */
@media (max-width: 992px) {
    #main-cont {
        display: flex;
        flex-wrap: wrap;
    }
    #songs-cont,
    #display-cont,
    #playlist-cont {
        min-width: 70%;
        max-width: auto;
        margin-bottom: 5vh;
        min-height: auto;
        padding-bottom: 2%;
    }
    .card {
        min-width: 15rem;
        min-height: 18rem;
        max-width: 15rem;
    }
    audio {
        padding: 0 3px 0 3px;
    }
    .collapse:not(.show) {
        display: block;
    }
    .navbar-collapse {
        flex-basis: 0;
        flex-grow: 1;
        align-items: center;
    }
}